
<!DOCTYPE html>
<html>
<script type="text/javascript" src="assets/js/buy.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

    <h1 style="text-align: center;"> Our<span style="color:black">Side</span> </h1>

    <nav class="topnav">
      <p>
        <a routerLink="" style="color: #63A537">Home</a> |
        <a routerLink="/learning" style="color: #63A537">Learning</a> |
        <a routerLink="/news" style="color: #63A537">News</a>
      </p>
    </nav>


<h2>
    Purchase Credit
</h2>

Market Price $<span #marketPrice id="marketPrice">20</span><br>
Number of Units: <input #numOfUnits type="text" id="numOfUnits"><br>
Trading Fee (set price): $<span #tradeFee id="tradeFee">5.75</span><br>
Total Amount = $<input #totalAmount id="totalAmount"><br>
<button (click)="calcTotal()" class="button" id="buySubmit">Calculate Total</button>



<footer>
    Brought to you by the Folks at Ourside
</footer>

</body>


</html>
