<img src="https://www.protocol.com/media-library/stock-market-up-arrow.jpg?id=24808026&width=1245&quality=85&coordinates=28%2C0%2C29%2C0&height=700"
class="center">
<h1 class="price"> ${{ price }} </h1>
<nav>
  <a routerLink="/buy">Buy</a>
  <a routerLink="/sell">Sell</a>
</nav>
<table style="margin-left:auto;margin-right:auto">
  <tr>
    <td> Number of Credits:</td>
    <td> {{ credits }} </td>
  </tr>
  <tr>
    <td> Amount:</td>
    <td> {{ amount }}</td>
  </tr>
  <tr>
    <td> Volume:</td>
    <td> {{ volume }}</td>
  </tr>
  <tr>
    <td> Daily Range:</td>
    <td> {{ dailyRange }} </td>
  </tr>
  <tr>
    <td> 52 Week Range:</td>
    <td> {{ longRange }} </td>
  </tr>
</table>

