h1 {
  margin: 70px;
}
td {
  text-align: left;
  margin-left: 500px;
  font-size: 20px;
  font-family: Georgia;
  padding: 10px;

}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 29px 20px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
  margin-inline: 10px;
  margin-bottom: 50px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
nav a:hover:after {
  top: 0;
  left: 0;
}
nav a:after {
  content: "";
  background-color: #228b22;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}
img {
  width:500px;
  height:300px;
  margin-top: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.price {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
}
table, td, th {
  border: 1px solid;
}

