<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

<h1 style="text-align: center;"> Our<span style="color:black">Side</span> </h1>

<nav class="topnav">
  <p>
    <a routerLink="" style="color: #63A537">Home</a> | 
    <a routerLink="/learning" style="color: #63A537">Learning</a> | 
    <a routerLink="/news" style="color: #63A537">News</a>
  </p>
</nav>

<img src="https://lh3.googleusercontent.com/YtNT3spHwR-I9UMw0znRA003cppU3JuGeS8RlsvLwDkqELT2WitAnRSd6Nt3uhVexDhkDkKxf86hK2BGI3z6a7hAwRvrnr1uRa7LZ7eZi0L3K0f32jlk7ovOcua7ERAitSRNH_gS6Q=w2400"
class="center">

<h1 class="price"> ${{ price }}/vol</h1>
<table style="margin-left:auto;margin-right:auto">
  <tr>
    <td> Volume:</td>
    <td> {{ volume }}</td>
  </tr>
  <tr>
    <td> Daily Range:</td>
    <td> {{ dailyRange }} </td>
  </tr>
  <tr>
    <td> 52 Week Range:</td>
    <td> {{ longRange }} </td>
  </tr>
</table>
<br>
<nav>
  <a routerLink="/buy">Buy</a>
  <a routerLink="/sell">Sell</a>
</nav>
