<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

<body class="container">
    <div class="header">Our<span style="color:black">Side</span> | Login to Our<span style="color:black">Side</span></div>
    <div class="login">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="pswd">Password:</label><br>
        <input type="password" id="pswd" name="pswd">

        <br><br>
        <input type="submit" value="Login" [routerLink]="['']">
    </div>
</body>
